/* Tema Escuro */
.dark-mode {
  background-color: #121212;
  color: white;
}

.dark-mode a {
  color: #bb86fc; /* Links em tom violeta */
}

.dark-mode .card, 
.dark-mode .container, 
.dark-mode .section {
  background-color: #222;
  color: white;
  border-color: #444;
}

/* Corrige botões e inputs */
.dark-mode button, 
.dark-mode input, 
.dark-mode textarea {
  background-color: #333;
  color: white;
  border-color: #555;
}

.dark-mode .repo-card {
  border-color: #444;
  background-color: #222;
  color: white;
}

.dark-mode .repo-link {
  color: #4da3ff; /* Azul mais visível no fundo escuro */
}

.dark-mode .text-muted {
  color: #bbb !important; /* Torna a descrição legível no modo escuro */
}
.language-icon {
  width: 45px;
  height: 45px;
  background-color: white; /* Fundo branco */
  border: 1px solid #ddd; /* Borda fina */
  border-radius: 15%; /* Borda arredondada para manter um visual bonito */
  padding: 5px; /* Dá um espaçamento interno para que o ícone não fique grudado */
}

.dark-mode h3 {
  margin-top: 20px;
  font-size: 1.5rem;
  color: rgb(217, 217, 217) !important;  /* Alterado para branco para visibilidade no modo escuro */
}

.hexagon {
  width: 80px;
  height: 92px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #5ac3fb;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  color: white; /* Garante que o texto dentro do hexágono fique branco */
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  transition: transform 0.2s;
}

.dark-mode .hexagon{
  background-color: #194370 !important;
}

.hexagon img {
  width: 40px;
  height: 40px;
  background-color: white; /* Adiciona fundo branco ao ícone */
  border-radius: 5px; /* Pequeno arredondamento para um efeito mais suave */
  padding: 5px; /* Adiciona um espaçamento interno para evitar ícone colado no fundo */
}

.hexagon:hover {
  transform: scale(1.1);
  background-color: #0056b3;
}
